<% if mobile_device? %>
  <div class="mobile-hero-banner">
    <%= image_tag("mobile_hero", class: "img-responsive") %>
  </div>
<% else %>
  <div class="main-image-banner">
    <%= image_tag("ttoc_hero", class: "banner-img") %>
  </div>
<% end %>
<%= render partial: "layouts/social_nav" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <p class="about-text">
        <span class="about-emphasis">Every comedian is a secret sage.</span>
          Inspiration for this podcast struck at the Montreal
          Just for Laughs Comedy Festival in 2015,
          as I listened to comics wax poetic both onstage and off.
          A spoonful of laughter helps the medicine go down.
          I left particularly inspired by the candid,
          one-on-one conversations I'd had,
          and in serious need of an IV from the cocktails that fueled them.
          Four months later,
          my dearest brother Andrew died suddenly in a car accident.
          Grief hit me like a bus.
          Alternating states of shock, sadness,
          fury and extreme appreciation for the beauty of the world dizzied my existence.
          The urge to search for meaning in my shattering made me long for Montreal.
          Those enrapturing, dark and beautiful conversations,
          always mercifully punctuated with belly laughs.
          With this podcast,
          I’m embarking on a quest to explore the truth about life's
          big questions with the most hilarious and bizarrely qualified kin:
          comedy’s finest.
          This is dedicated to my dear brother Andrew who taught me to laugh (especially at myself),
          and to all others who sincerely want to know what the fuck is going on here.
      </p>
    </div>
  </div>
</div>
