<div class="container" id="homepage">
  <div class="row">
    <div class="col-md-4">
      <h1>
        Hello World!
      </h1>
    </div>
    <div class="col-md-4">
      <h1 class="text-danger">
        Hello James!
      </h1>
    </div>
    <div class="col-md-4">
      <h1 class="text-warning">
        Hello All!
      </h1>
    </div>
  </div>
</div>
