// Makes the jplayer not inherit a
// bootstrap styling that was messing with it.
#jp_container_1 {
  box-sizing: content-box;
}

.admin-title {
  font-size: 1.5em;
}

.admin-podcasts-content-row {
  padding-top: 65px;
}
