<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Posts:</h3>
    </div>
    <div class="col-md-12">
      <% @posts.each do |post| %>
        <div class="admin-post">
          <h2><%= link_to post.title, edit_admin_post_path( post.id ) %></h2>
          <p><%= post.body %></p>
          <p>
            Visible to public? <%= nice_boolean( post.visible? ) %>
          </p>
          <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
