@keyframes alertfadeOut {
  0%  { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1;}
  99% { opacity: 0; transform: translateX(0);}
  100% { opacity: 0; transform: translateX(330px); }
}

#admin-navbar {
  z-index: 100000;
}

.mobile-hero-banner {
  margin-top: 50px;
  margin-bottom: 20px;
}

.alert {
  position: absolute;
  z-index: 99999;
  top: 25px;
  right: 80px;
  max-width: 350px;
  box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
  border-radius: 5px;
  animation: alertfadeOut 4s linear forwards;
  line-height: 30px;
}

#navbar-product {
  .navbar-toggle {
    margin-right: 30px;
  }
}

@media screen and ( min-width: 768px ) {
// This only happens when screen is greater than 768px.
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}
