// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about {
  background-color: #ffffff;

}

#myNavbar {
  font-size: 30px;
  font-family: "Cuprum", arial, serif;
}

.bio-text {
  font-size: 14px;
}
