.social-links {
  margin: 0 auto;
  font-size: 33px;
  padding: 22px;
}

.body-content {
  background-color: transparent;
}

.banner-title {
  font-family: trebuchet;
  font-weight: bold;
}

.byline {
  font-family: trebuchet;
}

.container-background {
  background-color: white;
}

.banner-img {
  display: block;
  width: 100%;
  height: 100%;
}

.social-nav {
  margin-top: 10px;
}

.podcast-title-link {
  color: black;

  &:hover {
    text-decoration: none;
    color: #3970a7;
  }
}

.jplayer-wrapper {
  margin-top: 20px;
}

.podcast-title {
  margin: 0;
}

.panel-body {
  font-size: 14px;
}

.odd {
  background-color: #fafafa !important;
}

.even {
  background-color: #e4e4e4 !important;
}

.facebook-btn {
  color: #3b5998;
}
.twitter-btn {
  color: #55acee;
}
.mail-btn {
  color: gray;
}

@media screen and ( max-width: 700px ) {
  .panel-body {
    font-size: 20px;
  }
}
