.social-links {
  margin: 0 auto;
  font-size: 33px;
  padding: 22px;
}

.body-content {
  background-color: transparent;
}

.banner-title {
  font-family: trebuchet;
  font-weight: bold;
}

.byline {
  font-family: trebuchet;
}

.container-background {
  // background-color: #b20000;
  // background-image: url(https://s3.amazonaws.com/tao-of-comedy-production/flower-background.png);
  // background-image: url(https://s3.amazonaws.com/tao-of-comedy-production/black-red-lightening-bg.png);
  background-image: url(https://s3.amazonaws.com/tao-of-comedy-production/royale-red-pattern.gif);
  // background-image: url(https://s3.amazonaws.com/tao-of-comedy-production/smile-frown-bg.png);
}

.banner-img {
  display: block;
  max-width: 100%;
  height: 300px;
}

.social-nav {
  margin-top: 10px;
}

.podcast-title-link {
  color: black;

  &:hover {
    text-decoration: none;
    color: #b20000;
  }
}

.jplayer-wrapper {
  margin-top: 20px;
}

.podcast-social-link {
  color: black;

  &:hover {
    text-decoration: none;
    color: #b20000;
  }
}

.podcast-title {
  margin: 0;
}

.facebook-btn {
  color: #3b5998;
}
.twitter-btn {
  color: #55acee;
}
.mail-btn {
  color: gray;
}
