<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Podcasts:</h1>
    </div>
    <div class="col-md-12">
      <% @podcasts.each do |podcast| %>
        <div class="admin-podcast">
          <h2><%= link_to(
                  podcast.title,
                  edit_admin_podcast_path( podcast.id )
              ) %>
          </h2>
          <p>Released: <%= podcast.release_date.strftime( "%m/%d/%y" ) %></p>
          <p><%= podcast.description %></p>
          <p>
            Visible to public? <%= nice_boolean( podcast.visible? ) %>
          </p>
          <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
