<div class="social-nav">
  <ul class="list-inline text-center">
    <% unless params[:action] == "index" && params[:controller] == "podcasts" %>
      <li>
        <a class="podcast-social-link" href="/">Listen to Podcasts</a>
      </li>
      <li>|</li>
    <% end %>
    <li>
      <a class="podcast-social-link" href="/about">About</a>
    </li>
    <li>|</li>
    <li>
      <a
        class="podcast-social-link"
        href="http://kellymacleancomedy.com/"
      >Kelly's Website</a>
    </li>
    <li>|</li>
    <li>
      <a class="podcast-social-link"href="/photos">Photos</a>
    </li>
    <li>|</li>
    <li>
      <a
        class="podcast-social-link"
        href="https://www.facebook.com/kellymacleancomedy/">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>|</li>
    <li>
      <a class="podcast-social-link" href="https://twitter.com/thekellymaclean">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>|</li>
    <li>
      <a
        class="podcast-social-link"
        href="https://itunes.apple.com/us/podcast/the-tao-of-comedy/id1115517397"
      ><i class="fa fa-music"></i></a>
    </li>
    <li>|</li>
    <li>
      <a
        class="podcast-social-link"
        href="http://www.stitcher.com/s?fid=90579&refid=stpr">Stitcher</a>
    </li>
  </ul>
</div>
